{% extends "base.html" %}
{% load static %}
{% block content %}
  <script>
    $(document).ready(function() {
      // Handle the form submission using AJAX
      $('#sizeForm').on('submit', function(event) {
        event.preventDefault();  // Prevent the default form submission
        const formData = $(this).serialize();  // Serialize the form data
        $.ajax({
          type: 'POST',
          url: $(this).attr('action'),
          data: formData,
          success: function(response) {
            // Update the table dynamically using the response data
            $('.matrix_container').html(response.tableHTML);
            $('#matrix_container').on('submit', function(event){
              event.preventDefault();
              const formData = $(this).serialize();
              $.ajax({
                type: 'POST',
                url: $(this).attr('action'),
                data: formData,
                success: function(response) {
                  $('.card1').html(response.resultsHTML);
                },
                error: function(xhr, errmsg, err) {
                console.error('Request failed. Error code:', xhr.status);
            }
          });
        });
          },
          error: function(xhr, errmsg, err) {
            console.error('Request failed. Error code:', xhr.status);
          }
        });
      });
      
    });  
</script>
<div class="card2">
  <h1>Метод Крамера</h1>
    
  <h2>Описание</h2>
  <p>Метод Крамера - это метод решения системы линейных уравнений с помощью определителей матриц. Он основан на представлении системы в виде матричного уравнения и использовании определителей для нахождения решений.</p>
  
  <h2>Алгоритм решения</h2>
  <ol>
      <li>Записать систему линейных уравнений в матричной форме: Ax = b, где A - матрица коэффициентов, x - вектор неизвестных, b - вектор свободных членов.</li>
      <li>Вычислить определитель матрицы коэффициентов A.</li>
      <li>Для каждой переменной xi заменить столбец i матрицы A на вектор свободных членов b и вычислить определитель Di.</li>
      <li>Найти значения переменных xi, используя формулу: xi = Di / det(A), где det(A) - определитель матрицы коэффициентов A.</li>
      <li>Полученные значения переменных xi являются решениями системы уравнений.</li>
  </ol>
  
  <h2>Пример</h2>
  <p>Рассмотрим систему линейных уравнений:</p>
  <p>2x + 3y = 8</p>
  <p>4x - 5y = -7</p>
  
  <p>Составим матрицу коэффициентов A:</p>
  <pre>
  | 2  3 |
  | 4 -5 |
  </pre>
  
  <p>Вычислим определитель матрицы A:</p>
  <p>det(A) = (2 * -5) - (3 * 4) = -22</p>
  
  <p>Вычислим определитель D1:</p>
  <p>D1 = (-7 * -5) - (3 * 4) = 11</p>
  
  <p>Вычислим определитель D2:</p>
  <p>D2 = (2 * -7) - (4 * 3) = -26</p>
  
  <p>Найдем значения переменных x и y:</p>
  <p>x = D1 / det(A) = 11 / -22 = -0.5</p>
  <p>y = D2 / det(A) = -26 / -22 = 1.1818</p>
  
  <p>Таким образом, решение системы уравнений равно x = -0.5, y = 1.1818.</p>
</body>
</div>
{% if request.user.is_authenticated %}
  <div class="card2 text-center">
    <h1 class="text-center">Вычисление СЛАУ методом Крамера</h1>
    <h1 class="text-center">Введите размерность матриц</h1>
    <form id="sizeForm" action="" method="post">
      {% csrf_token %}
      <input type="number" id="size" name="size" min="2" max="6" value={{ n|default:2 }} required />
      <input type="submit" value="Задать" />
    </form>
    <div class="matrix_container"></div>
    <!-- The table will be inserted here dynamically -->
  </div>
  <div class="card1"></div>
{% endif %}
{% endblock content %}
