{% extends "base.html" %}
{% load static %}
{% block content %}
  <section class="container mt-2">
    <div class="border bg-white rounded-3 shadow p-3 mt-2">
      <h1 class="text-center">
        Добрый день! Рады приветствовать вас на образовательном ресурсе "Последняя теорема
        Фарма"
      </h1>
      <p>Наша команда осуществляет свою образовательную деятельность с 2022 года.</p>
      <p>
        Наша главная задача – успешная подготовка и обучение студентов вузов технических специальностей с математическим
        и IT уклоном.
      </p>
      <p>На нашем сайте вы можете найти материалы и калькуляторы по:</p>
      <p>•Высшей математике</p>
      <p>•Численным методам</p>
      <p>•Математическому моделированию</p>
      <p>
        Наш сайт назван в честь последней теоремы Ферма, которая является одной из самых известных математических проблем
        в истории. Теорема гласит, что нет целочисленных решений уравнения x^n + y^n = z^n, где n больше 2. Теорема была
        впервые предложена французским математиком Пьером де Ферма в XVII веке и оставалась нерешенной более 350 лет, пока
        ее, наконец, не доказал британский математик Эндрю Уайлс в 1994 году.
      </p>
      <p>
        Подобно последней теореме Ферма, многие математические проблемы и реальные задачи требуют использования численных
        методов для поиска решений. Наш сайт разработан для помощи вам изучать и применять эти методы для решения проблем
        в вашей собственной области изучения или работы.
        Мы предлагаем широкий спектр курсов, учебников и ресурсов по численным методам, включая линейную алгебру,
        математический анализ, дифференциальные уравнения, оптимизацию и многое другое. Наши курсы разработаны для того, чтобы быть доступными и
        увлекательными для обучающихся всех уровней.
      </p>
      <p>
        Независимо от того, являетесь ли вы студентом в области естественных наук, технических наук и математики,
        профессионалом в финансовой или инженерной сфере или просто кем-то, кто интересуется математикой, наш сайт
        может вам предложить обучение. Вы можете просматривать наши курсы и учебники, смотреть видео и читать статьи, чтобы узнать
        о теории и применении численных методов.
      </p>
      <p>
        Кроме наших курсов и ресурсов, мы также предлагаем сообщество, где вы можете общаться с другими обучающимися и
        преподавателями. Вы можете присоединиться к форумам, задавать вопросы и участвовать в обсуждениях, чтобы углубить
        свое понимание численных методов и получить представления от других, кто работает над аналогичными проблемами.
        В Последней теореме Ферма мы считаем, что обучение должно быть доступным, увлекательным и эффективным. Именно
        поэтому мы разработали наш сайт таким образом, чтобы он был легким в использовании и навигации, с четкими
        объяснениями и примерами, которые делают сложные концепции легкими для понимания.
        Мы также верим в силу практического обучения и предлагаем интерактивные инструменты и симуляции, которые позволяют
        экспериментировать с численными методами и видеть, как они работают в реальных сценариях. Вы можете использовать
        эти инструменты для отработки своих навыков, проверки своего понимания и повышения уверенности в своей способности
        применять численные методы для решения проблем.
      </p>
      <p>
        Независимо от того, только ли вы начинаете изучать численные методы или вы опытный практик, наш сайт предлагает
        вам обширный курс численных методов, который сможет вас заинтересовать. Мы приглашаем вас исследовать наши курсы и ресурсы, общаться с нашим сообществом и открывать силу
        численных методов для решения реальных задач.
      </p>
    </div>
  </section>
  <style>
  .h-100 {
    background-color: rgb(233, 233, 233);
    font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;
  }

  .container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

  }

  .card1 {
    background: rgb(255, 255, 255);
    width: 400px;
    height: 480px;
    margin: 10px;
    border-radius: 15px;
    box-shadow: 0 4px 16px rgb(0 51 153 / 4%), 0 2px 2px rgb(0 51 153 / 8%);
    padding: 10px;
    padding-top: 15px;
  }

  .card2 {
    background: white;
    width: 95%;
    height: 40%;
    margin: 10px;
    border-radius: 15px;
    box-shadow: 0 4px 16px rgb(0 51 153 / 4%), 0 2px 2px rgb(0 51 153 / 8%);
    padding: 10px;
    padding-top: 15px;
  }

  .navbar-brand:hover {
    scale: 1.2;
    transition: 0.3s ease-in-out;
  }
  </style>
{% endblock content %}
