{% extends "base.html" %}
{% load static %}
{% block css %}
{% endblock css %}
{% block js %}
{% endblock js %}
{% block content %}
  <section class="container">
    <div class="card2">
      <h1 class="headOfCard" style="text-align:center">Матричные прозведения подчиняются следующим законам:</h1>
      <p>•A(BC)=(AB)C</p>
      <p>•α(AB)=(αA)B</p>
      <p>•(A+B)*C=AC+BC</p>
      <p>•C(A+B)=CA+CB</p>
    </div>
    <br/>
    <br/>
    <div class="card2">
      <h1 style="text-align: center;">
        Отметим, что AB≠BA, т.е произведение двух матриц в общем случае не обладает свойством переместительности.
      </h1>
      <p>Значит, в общем случае нельзя менять местами матрицы-сомножители, не изменив их произведения.</p>
      <p>Если изменить порядок сомножителей, то может оказаться, что произвести умножение матриц вообще невозможно</p>
      <p>
        О произведении AB двух матриц A и B будем говорить, что матрица B умножается на матрицу A справа на матрицу B, а полученная матрица умножается справа на матрицу C и т.д.
      </p>
      <p>
        Количество перемножаемых матриц может быть любым, лишь бы можно было перемножать каждые две рядом стоящие матрицы.
      </p>
    </div>
    <br/>
    <br/>
    <div class="card2" style="text-align: center;" >
      <h1 style="text-align: center;">Давайте проверим свойства матриц на примере с подробным объяснением.</h1>
      <h1 style="text-align: center;">Введите размерность матриц</h1>
      <form action="" method="post">
        {% csrf_token %}
        <input type="number" id="size" name="size" min="2" max="6" required/>
        <input type="submit"/>
        </form>
        
        <form action="" method="post">
          <input type="text" name="matrix" id="matrix" style="display: none"/>
          <table class="table0">
           {% csrf_token %}
            {% for j in n_value %}
              <tr>
                {% for i in n_value %}
                <td class="TblCl">
                  <input type="number" name="fake_matrix" id="inp{{ j }}{{ i }}" placeholder="0" autocomplete="off" required />
                </td>{% endfor %}
              </tr>
            {% endfor %}
        </table>

        <table class="table0">
          {% csrf_token %}
           {% for j in n_value %}
             <tr>
               {% for i in n_value %}
               <td class="TblCl">
                 <input type="number" name="fake_matrix_second" id="inp{{ j }}{{ i }}" placeholder="0" autocomplete="off" required />
               </td>{% endfor %}
             </tr>
           {% endfor %}
           <input type="submit" value ="Рассчитать"/>
       </table>
        
        
      </form>
    </div>
    <div class="card2">
   {% if resultOfRightSide|length != 0 %}
    <p>Первая матрица:</p>
    
    {% for i in firstArray %}
    <h1 class="paragraph"> {{ i }} </h1>
    {% endfor %}
    <p>Вторая матрица:</p>
    {% for i in secondArray %}
    <h1 class="paragraph"> {{ i }} </h1>
    {% endfor %}
    <p>Третья матрица (Получена умножением первой и второй матрицы):</p>
    {% for i in thirdArray %}
    <h1 class="paragraph"> {{ i }} </h1>
    {% endfor %}
    <p>(A+B)*C</p>
    {% for i in resultOfLeftSide %}
    <h1 class="paragraph"> {{ i }} </h1>
    {% endfor %}
    
    <p>(AC)+(BC)</p>
    {% for i in resultOfRightSide %}
    <h1 class="paragraph"> {{ i }} </h1>
    {% endfor %}
    
    {% endif %}
 
    </div>
    
  </section>

<style>
 
  input {
    height: 3em;
    width: 7em;
    font-family: 'Courier New', Courier, monospace;
    color:rgb(0, 0, 0);
    backgroud-color:rgb(202, 202, 202);
    font-size: 15px;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-radius: 15px;
    border-color:rgb(202, 202, 202);
    box-sizing: border-box;
}

input:focus {
    border-color:rgb(83, 42, 42);
    border-width: 2px;
}

input:hover {
  background-color:rgb(255, 255, 255);
}

.tableO {
    margin: auto;
}

td {
    padding: auto;
}
.tableO {
  margin: auto;
}

input {outline:none;}
input:active {outline:none;}
:focus {outline:none;}

</style>
{% endblock content %}
