{% extends "base.html" %}
{% load static %}
{% block content %}
  <script>
    $(document).ready(function() {
      // Handle the form submission using AJAX
      $('#sizeForm').on('submit', function(event) {
        event.preventDefault();  // Prevent the default form submission
        const formData = $(this).serialize();  // Serialize the form data
        $.ajax({
          type: 'POST',
          url: $(this).attr('action'),
          data: formData,
          success: function(response) {
            // Update the table dynamically using the response data
            $('.matrix_container').html(response.tableHTML);
            $('#matrix_container').on('submit', function(event){
              event.preventDefault();
              const formData = $(this).serialize();
              $.ajax({
                type: 'POST',
                url: $(this).attr('action'),
                data: formData,
                success: function(response) {
                  $('.card1').html(response.resultsHTML);
                },
                error: function(xhr, errmsg, err) {
                console.error('Request failed. Error code:', xhr.status);
            }
          });
        });
          },
          error: function(xhr, errmsg, err) {
            console.error('Request failed. Error code:', xhr.status);
          }
        });
      });
      
    });  
</script>
<div class="card2">
    <h1>Метод Ньютона</h1>
    
    <h2>Описание</h2>
    <p>Метод Ньютона - это итерационный численный метод решения уравнений и систем уравнений. Он основан на аппроксимации функции в окрестности корня с помощью касательной прямой и последовательных итераций для приближенного нахождения корня.</p>
    
    <h2>Алгоритм решения</h2>
    <ol>
        <li>Выбрать начальное приближение x0.</li>
        <li>Вычислить значение функции f(x0) и её производной f'(x0) в точке x0.</li>
        <li>Вычислить следующее приближение x1, используя формулу x1 = x0 - f(x0) / f'(x0).</li>
        <li>Повторять шаги 2 и 3 до достижения необходимой точности или заданного количества итераций.</li>
        <li>Полученное значение x является приближенным решением уравнения или системы уравнений.</li>
    </ol>
    
    <h2>Пример</h2>
    <p>Рассмотрим уравнение:</p>
    <p>f(x) = x^2 - 4</p>
    
    <p>Выберем начальное приближение x0 = 2.</p>
    
    <p>Вычислим значение функции и её производной в точке x0:</p>
    <ul>
        <li>f(2) = (2^2 - 4) = 0</li>
        <li>f'(2) = 2 * 2 = 4</li>
    </ul>
    
    <p>Вычислим следующее приближение, используя формулу x1 = x0 - f(x0) / f'(x0):</p>
    <p>x1 = 2 - 0 / 4 = 2</p>
    
    <p>Продолжаем вычисления до достижения необходимой точности или заданного количества итераций.</p>
    
    <p>Таким образом, полученное значение x является приближенным решением уравнения.</p>
    
    <h2>Примечания</h2>
    <ul>
        <li>Метод Ньютона может сходиться к решению только при достаточно близком начальном приближении и непрерывной производной функции в окрестности корня.</li>
        <li>Выбор начального приближения x0 играет важную роль в методе Ньютона. Неправильный выбор может привести к расходимости итерационного процесса.</li>
        <li>Достижение необходимой точности может быть определено, например, сравнением значения нового приближения с предыдущим приближением и проверкой, насколько они близки.</li>
        <li>Метод Ньютона также может быть применен к системам уравнений, где на каждой итерации вычисляются значения функций и их Якобиана.</li>
    </ul>
</div>
{% if request.user.is_authenticated %}
  <div class="card2 text-center">
    <h1 class="text-center">Вычисление СЛАУ методом Ньютона</h1>
    <h1 class="text-center">Введите размерность матриц</h1>
    <form id="sizeForm" action="" method="post">
      {% csrf_token %}
      <input type="number" id="size" name="size" min="2" max="6" value={{ n|default:2 }} required />
      <input type="submit" value="Задать" />
    </form>
    <div class="matrix_container"></div>
    <!-- The table will be inserted here dynamically -->
  </div>
  <div class="card1"></div>
{% endif %}
{% endblock content %}
