{% extends 'base.html' %}
{% load static %}

{% block css %}
{% endblock css %}

{% block js %}
{% endblock js %}

{% block content %}
<section class="container">
    <div class="card2">
        <h1 style="text-align:center;">Численные (вычислительные) методы - методы решения математических задач в численном виде.</h1>
        <p >Представление как исходных данных в задаче, так и её решение - в виде числа или набора чисел.</p>
        <p>Многие численные методы являются частью библиотек математических программ. В системе подготовки инженеров технических специальностей являются важной составляющей.</p>
            <p>Наша главная задача – успешная подготовка и обучение студентов вузов технических специальностей с математическим и IT уклоном.</p>
            <p>Основами для вычисления методов являются:</p>
            <p>•Решение систем линейных уравнений</p>
            <p>•Интерполирование и приближённое вычисление функций</p>
            <p>•Численное интегрирование</p>
            <p>•Численное решение системы нелинейных уравнений</p>
            <p>•Численное решение обычновенных дифференциальных уравнений</p>
            <p>•Численное решение уравнений в частных производных (уравнений математической физики)</p>
            <p>•Решение задач оптимизации</p>
            
      </div>

      <div class="card2">
        <h1 style="text-align: center;">Об истории возникновения предмета "Численные методы"</h1>
        <p>В связи с развитием новой вычислительной техники инженерная практика наших дней всё чаще и чаще встречается с математическими задачами, точное решение которых получиться весьма сложно или невозможно.</p>
        <p>В этих случаях обычно прибегают к тем или иным приближенным вычислениям. Вот почему приближённые и численные методы математического анализа получили за последние годы широкое развитие и приобрели исключительно важное значение.</p>
        <p>Новые вычислительные средства вызвали переоценку известных методов решения задач с точки зрения целесообразности их реализации на ЭВМ м стимулировали создание более эффективных.</p>
        <p>В то же время приспособление какого-либо метода для работы на ЭВМ выдвинуло специфическую проблему "устойчивости вычислительной схемы".</p>
        <p>Вычислительная математика = ЭВМ + Численные методы</p>
      </div>
</section>

{% endblock content %}