{% load static %}
<link href='{% static "css/base.css" %}' rel='stylesheet' type='text/css'>

<nav class="navbar navbar-light bg-light">
  <div class="container">
    <a href="/" class="navbar-brand mx-auto">
      <img src="{% static 'imgs\logoPet.svg' %}" width="120" height="100">
    </a> 
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="#">Главная</a>
        <a class="nav-item nav-link" href="/numericmethods/">Численные методы</a>
        <a class="nav-item nav-link" href="#">Математическое моделирование</a>
        <a class="nav-item nav-link" href="#">Высшая математика</a>
        <a class="nav-item nav-link" href="/numericmethods/matrixrules">Правила матриц</a>
      </div>
    </div>    
  </div>
  <div class="mx-auto">
    {% if request.user.is_authenticated %}
      <a href="/profile/">{{ request.user.username }}</a>
      
      <a class="btn btn-primary" href="/logout/">Выйти</a>
    {% else %}
      <a class="btn btn-outline-danger me-2" href="/login/">Войти</a>
      <a  class="btn btn-outline-warning" href="/registration/">Регистрация</a>

    {% endif %}
  </div>
</nav>



<section id="bg">
</section>

