{% load static %}
<nav class="navbar navbar-light bg-light">
  <div class="container">
    <a href="{% url 'index' %}" class="navbar-brand mx-auto">
      <img alt="" src="{% static 'imgs\logoPet.svg' %}" width="120" height="100" />
    </a>
    <button class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup"
            aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <ul>
          <li>
            <a href="{% url 'index' %}" class="nav-item nav-link">Главная</a>
          </li>
          <li>
            <a href="{% url 'numeric' %}" class="nav-item nav-link">Численные методы</a>
            <ul>
              <li>
                <a class="nav-item nav-link" href="{% url 'matrix-loe' %}">Правила матриц</a>
              </li>
              <li>
                <a href="{% url 'determinant' %}" class="nav-item nav-link">Определитель матрицы</a>
              </li>
              <li>
                <a href="{% url 'gauss' %}" class="nav-item nav-link">Решения СЛАУ методом Гаусса</a>
              </li>
              <li>
                <a href="{% url 'crammer' %}" class="nav-item nav-link">Решения СЛАУ методом Краммера</a>
              </li>
              <li>
                <a href="{% url 'iterative'%}" class="nav-item nav-link">Решение СЛАУ методом итераций</a>
              </li>
            </ul>
          </li>
          <li>
            <a class="nav-item nav-link" href="#">Математическое моделирование</a>
          </li>
          <li>
            <a class="nav-item nav-link" href="#">Высшая математика</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="mx-auto">
    {% if request.user.is_authenticated %}
      <a href="{% url 'profile' %}" class="profile_link me-3"><i class="bi-person-circle me-2"></i>{{ request.user.username }}</a>
      <a class="btn btn-outline-danger" href="{% url 'logout_url' %}">Выйти<i class="bi-box-arrow-left ms-2"></i></a>
    {% else %}
      <a class="btn btn-outline-primary me-3" href="{% url 'login_url' %}">Войти<i class="bi-box-arrow-right ms-2"></i></a>
      <a class="btn btn-outline-success" href="{% url 'reg_url' %}">Регистрация</a>
    {% endif %}
  </div>
</nav>
<section id="bg">
</section>
