{% load static %}
<link href='{% static "css/base.css" %}' rel='stylesheet' type='text/css'>

<nav class="navbar navbar-light bg-light">
  <div class="container">
    <a href="/" class="navbar-brand mx-auto">
      <img src="{% static 'imgs\logoPet.svg' %}" width="90" height="70">
    </a> 
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="#">Главная</a>
        <a class="nav-item nav-link" href="#">Численные методы</a>
        <a class="nav-item nav-link" href="#">Математическое моделирование</a>
        <a class="nav-item nav-link" href="#">Высшая математика</a>
      </div>
    </div>    
  </div>
</nav>



<section id="bg">
</section>

